body{
	margin:0;
	padding:0;
}
*{
	box-sizing: border-box;
}
.container_default{
	width:100%;
	position:relative;
}
.core_form{
	width:70%;
	margin:50px 15%;
	border:2px solid #ccc;
	border-radius:10px;
	padding:10px;
}
.core_form h4{
	color:#af2020;
	text-align: center;
	font-style: italic; 
}
.row_ipt{
	width:100%;
	border-bottom: 1px solid #ccc;
	padding:10px;
}
.default_name{
	color:#333;
	font-style: italic;
	font-weight: bolder; 
}
.row_ipt input[type=text], .row_ipt input[type=password]{
	width:90%;
	height:30px;
	padding-left: 10px;
	font-size: 0.9em;
	outline: none;
	border:1px solid #ccc;
	border-radius:10px;
	margin:10px 5%;
}
.row_ipt input[type=submit]{
	float:right;
	height:30px;
	width:150px;
	border:1px solid #af2020;
	border-radius:10px;
	font-size: 0.9em;
	background-color: #fff;
	color:#af2020;
	margin:10px 30px;
	cursor:pointer;
}
.clear{
	clear: both;
}
.row_ipt input[type=submit]:hover{
	background-color: #af2020;
	color:#fff;
	border:1px solid #af2020;
}